/* Basic styles for layout */
.sidenav-container {
    display: flex;
    height: 100%;
    background-color: #f4f4f9;
  }
  
  .sidenav {
    width: 240px;
  }
  
  .content {
    flex-grow: 1;
    padding: 16px;
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Style for active link */
  .active-link {
    font-weight: bold;
    background-color: #e0e0e0;
  }
  